
        <div class="header_bg">
            <div class="head_logo"><a href="#"></a></div>
            <div class="head_right pngFix">
                <ul class="clearfix">
                    <li><a href="#" class="exit_btn pngFix">退 出</a></li>
                    <li><a href="#" class="feedback_btn pngFix">使用反馈</a></li>
                    <li ><a class="user_info pngFix">亲爱的<span>diji538@163.com</span>用户,你在线时间为<span id="Div_TimeInfo"></span></a></li>
                </ul>
            </div>

        </div>
        <div class="system_header_menu clearfix ">
            <ul class="system_menu clearfix">
                <li><a class="home_submenu " href="report.htm">报 告</a></li>
                <li><a class="form_submenu" href="statistics.htm">报表统计</a> </li>
                <li><a class="submenu" href="alam.htm">告 警</a></li>
                <li><a class="submenu" href="user.htm">账 户</a></li>
            </ul>
           
            <a href="add_site.htm" class="create_site_btn pngFix" >创建站点监控</a>
            
            <div class="system_searchDiv">
                <div class="system_search">
                    <input id="searchtxt" type="text" class="system_searchTxt" value="搜索所有内容" />
                    <input id="searchbtn" type="button" value="" class="system_searchBtn" /></div>
            </div>
        </div>


