<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>添加监控任务</title>
    <link href="App_Themes/Global/common.css" rel="stylesheet" type="text/css" />
    <link href="App_Themes/Global/help.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <h2 class="help_main_title">
        添加监控任务</h2>
    <div class="help_task_content">
        <div class="help_task_pic">
        </div>
    </div>
</body>
</html>
