<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>价格</title>
    <link href="App_Themes/Global/feature.css" rel="stylesheet" type="text/css" />
    <link href="App_Themes/Global/who_use.css" rel="stylesheet" type="text/css" />
    <link href="App_Themes/Global/intro.css" rel="stylesheet" type="text/css" />
    <link href="App_Themes/Global/common.css" rel="stylesheet" type="text/css" />
    <script src="Common/Scripts/JQuery/jquery.min.js" type="text/javascript"></script>
    <script src="Common/Scripts/JQuery/common.js" type="text/javascript"></script>
    <!--[if IE 6]><script type="text/javascript" src="Common/Scripts/DD_belatedPNG.js"></script><![endif]-->
    <script type="text/javascript">
        $(function () {
            var oldObj = $(".introTab a").first();
            $(".introTab a").click(function () {
                if (oldObj.text() != $(this).text()) {
                    $(".tab_selected").removeClass("tab_selected");
                    $(this).addClass("tab_selected");
                    $(".chargeTable").toggle();
                }
                oldObj = $(this);
            });

            commonClick($(".ft_sidebar a"), "warning_sl");
        });
    </script>
</head>
<body>
    <div class="ft_wrap">
        <div class="header">
            <div class="headerContent clearfix">
                <div class="logo_header pngFix">
                </div>
                <div class="nav_header">
                    <ul class="nav clearfix pngFix">
                        <li><a href="Main_page.htm" class="home_subnav ">首页</a></li>
                        <li><a href="Feature.htm" class="feature_subnav">特色功能</a>
                            <ul class="menu_ground">
                                <li><a href="#">站点监控</a></li>
                                <li><a href="#">站点监控</a></li>
                                <li><a href="#">丰富报表统计</a></li><li><a href="#">丰富报表统计</a></li>
                                <li><a href="#">告警通知</a></li>
                                <li><a href="#">告警通知</a></li>
                                <li><a href="#">故障统计</a></li>
                                <li><a href="#">故障统计</a></li>
                                <li><a href="#">自定义警告</a></li>
                                <li><a href="#">自定义警告</a></li>
                            </ul>
                        </li>
                  
                        <li><a href="Who_use.htm" class="subnav">案 例</a></li>
                        <li><a href="Intro.htm" class="subnav subnav_sl">价 格</a></li>
                        <li><a href="Help.htm" class="help_subnav">帮助与支持</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="banner">
           <img src="App_Themes/Global/images/feature/baneerPic.png" /></div>
        <div class="ft_content clearfix">
            <div class="ft_sidebar">
                <dl>
                    <dt class="ft_sidbar_title"></dt>
                    <dd>
                        <a class="warning_sl"><span class="imgDiv">
                            <img src="App_Themes/Global/images/intro/chargeStandard.png" class="pngFix" /></span> <span class="lfContent">
                                <span class="title">收费标准</span></span> </a>
                    </dd>
                    <dd>
                        <a><span class="imgDiv">
                            <img src="App_Themes/Global/images/intro/priceCounter.png" class="pngFix" /></span> <span class="lfContent">
                                <span class="title">价格计算器</span> </span></a>
                    </dd>
                </dl>
            </div>
            <div class="ft_main">
                <div class="intro_topContent">
                    <div class="introTab">
                        <ul>
                            <li><a class="tab_selected">包月收费</a></li>
                            <li><a>按点收费</a></li>
                        </ul>
                    </div>
                    <div class="chargeTable">
                        <table cellpadding="0" cellspacing="0" class="common">
                            <tr>
                                <th class="noneData">
                                    &nbsp;
                                </th>
                                <th>
                                    专业版
                                </th>
                                <th>
                                    高级版
                                </th>
                                <th>
                                    标准版
                                </th>
                                <th>
                                    免费版
                                </th>
                            </tr>
                            <tr>
                                <td class="leftTitle" style="width: 28%;">
                                    &nbsp;
                                </td>
                                <td class="subTitle" style="width: 18%;">
                                    企业IT设施监控专家
                                </td>
                                <td class="subTitle" style="width: 18%;">
                                    适合中型网站
                                </td>
                                <td class="subTitle" style="width: 18%;">
                                    适合小型网站
                                </td>
                                <td class="subTitle">
                                    适合个人网站
                                </td>
                            </tr>
                            <tr>
                                <td class="leftTitle">
                                    包含站点监控项目数量
                                </td>
                                <td>
                                    40个
                                </td>
                                <td>
                                    20个
                                </td>
                                <td>
                                    10个
                                </td>
                                <td>
                                    5个
                                </td>
                            </tr>
                            <tr>
                                <td class="leftTitle">
                                    站点监控频率
                                </td>
                                <td>
                                    2分钟
                                </td>
                                <td>
                                    5分钟
                                </td>
                                <td>
                                    5分钟
                                </td>
                                <td>
                                    15分钟
                                </td>
                            </tr>
                            <tr>
                                <td class="leftTitle">
                                    包含分布式监测点数量
                                </td>
                                <td>
                                    任选10个
                                </td>
                                <td>
                                    任选6个
                                </td>
                                <td>
                                    6选4
                                </td>
                                <td>
                                    4选2
                                </td>
                            </tr>
                            <tr>
                                <td class="leftTitle">
                                    购买额外监测点数量
                                </td>
                                <td>
                                    <div class="tick">
                                    </div>
                                </td>
                                <td>
                                    <div class="tick">
                                    </div>
                                </td>
                                <td>
                                    <div class="cross">
                                    </div>
                                </td>
                                <td>
                                    <div class="cross">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="leftTitle">
                                    自定义加测点分组
                                </td>
                                <td>
                                    <div class="tick">
                                    </div>
                                </td>
                                <td>
                                    <div class="tick">
                                    </div>
                                </td>
                                <td>
                                    <div class="tick">
                                    </div>
                                </td>
                                <td>
                                    <div class="cross">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="leftTitle">
                                    支持自定义警告
                                </td>
                                <td>
                                    <div class="tick">
                                    </div>
                                </td>
                                <td>
                                    <div class="tick">
                                    </div>
                                </td>
                                <td>
                                    <div class="tick">
                                    </div>
                                </td>
                                <td>
                                    <div class="cross">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="leftTitle">
                                    每月包含短信
                                </td>
                                <td>
                                    500条
                                </td>
                                <td>
                                    100条
                                </td>
                                <td>
                                    30条
                                </td>
                                <td>
                                    注册后赠送10条短信
                                </td>
                            </tr>
                            <tr>
                                <td class="leftTitle">
                                    历史数据保存时间
                                </td>
                                <td>
                                    365天
                                </td>
                                <td>
                                    365天
                                </td>
                                <td>
                                    180天
                                </td>
                                <td>
                                    30天
                                </td>
                            </tr>
                            <tr class="lastTr">
                                <td class="leftTitle leftTitle_L">
                                    套餐价格
                                </td>
                                <td>
                                    <div class="monthCost">
                                        ￥499/月</div>
                                    ￥4670/年，省￥1318
                                </td>
                                <td>
                                    <div class="monthCost">
                                        ￥99/月</div>
                                    ￥1045/年，省￥143
                                </td>
                                <td>
                                    <div class="monthCost">
                                        ￥49/月</div>
                                    ￥517/年，省￥71
                                </td>
                                <td>
                                    <div class="monthCost permanentFree">
                                        永久免费</div>
                                </td>
                            </tr>
                        </table>
                        <div class="whiteSpace"></div>
                    </div>
                    <div class="chargeTable" style="display: none;">
                        <table cellpadding="0" cellspacing="0" class="common">
                            <tr>
                                <th class="noneData" colspan="2">
                                    &nbsp;
                                </th>
                                <th>
                                    专业版
                                </th>
                                <th>
                                    高级版
                                </th>
                                <th>
                                    标准版
                                </th>
                                <th>
                                    免费版
                                </th>
                            </tr>
                            <tr>
                                <td class="leftTitle" colspan="2">
                                    站点监控项目
                                </td>
                                <td>
                                    ￥10/月/个
                                </td>
                                <td>
                                    ￥10/月/个
                                </td>
                                <td>
                                    ￥10/月/个&nbsp;
                                </td>
                                <td>
                                    ——
                                </td>
                            </tr>
                            <tr>
                                <td class="leftTitle" colspan="2">
                                    监测点
                                </td>
                                <td>
                                    ￥10/月/个
                                </td>
                                <td>
                                    ￥10/月/个
                                </td>
                                <td>
                                    ￥10/月/个
                                </td>
                                <td>
                                    ——
                                </td>
                            </tr>
                            <tr>
                                <td class="leftTitle" rowspan="3" style=" width:15%;">
                                    包月短信
                                </td>
                                <td class="leftTitle pointCharge" style=" width:13%;">
                                    100条
                                </td>
                                <td style=" width:18%;">
                                    ￥16/月
                                </td>
                                <td style=" width:18%;">
                                    ￥16/月&nbsp;
                                </td>
                                <td style=" width:18%;">
                                    ￥16/月
                                </td>
                                <td>
                                    ——
                                </td>
                            </tr>
                            <tr>
                                <td class="leftTitle pointCharge">
                                    200条
                                </td>
                                <td>
                                    ￥16/月&nbsp;
                                </td>
                                <td>
                                    ￥16/月&nbsp;
                                </td>
                                <td>
                                    ￥16/月
                                </td>
                                <td>
                                    ——
                                </td>
                            </tr>
                            <tr>
                                <td class="leftTitle pointCharge">
                                    500条
                                </td>
                                <td>
                                    ￥16/月
                                </td>
                                <td>
                                    ￥16/月
                                </td>
                                <td>
                                    ￥16/月
                                </td>
                                <td>
                                    ———
                                </td>
                            </tr>
                            <tr>
                                <td class="leftTitle" rowspan="3">
                                    短信包
                                </td>
                                <td class="leftTitle pointCharge">
                                    10条
                                </td>
                                <td colspan="4">
                                    ￥4
                                </td>
                            </tr>
                            <tr>
                                <td class="leftTitle pointCharge">
                                    50条&nbsp;
                                </td>
                                <td colspan="4">
                                    ￥5
                                </td>
                            </tr>
                            <tr>
                                <td class="leftTitle pointCharge">
                                    100条
                                </td>
                                <td colspan="4">
                                    ￥20
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="clearfix">
            </div>
        </div>
        <div class="footer">
            <div class="footerContent">
                Copyright 2010-2011 ChinaNetCenter.All Right Reserved 跨地区增值电信业务经营许可证（IDC、ISP）
                <br />
                编号B1.B2-20050405 京公网安备 11010502000007 沪公网安备 3101040105 沪ICP证B2-20030144
            </div>
        </div>
    </div>
</body>
</html>
