<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>账户</title>
    <link href="Common/Scripts/JQuery/JqueryUI/themes/redmond/jquery.ui.all.css" rel="stylesheet"
        type="text/css" />
    <link href="App_Themes/Global/system.css" rel="stylesheet" type="text/css" />
    <link href="Common/Scripts/JQuery/jquery.d.checkbox/css/jquery.d.checkbox.css" rel="stylesheet"
        type="text/css" />
    <link href="App_Themes/EasyUI/default.css" rel="stylesheet" type="text/css" />
    <link href="App_Themes/EasyUI/Themes/icon.css" rel="stylesheet" type="text/css" />
    <link href="App_Themes/EasyUI/Themes/default/easyui.css" rel="stylesheet" type="text/css" />
    <link href="Common/Scripts/JQuery/Scrollpane/scrollpane.css" rel="stylesheet" type="text/css" />
    <link href="Common/Scripts/JQuery/jquery.d.checkbox/css/jquery.d.checkbox.css" rel="stylesheet"
        type="text/css" />
    <script src="Common/Scripts/JQuery/jquery.min.js" type="text/javascript"></script>
    <script src="Common/Scripts/JQuery/JqueryUI/jquery-ui.min.js" type="text/javascript"></script>
    <script src="Common/Scripts/JQuery/JqueryUI/commonjqueryui.js" type="text/javascript"></script>
    <script src="Common/Scripts/JQuery/EasyUI/jquery.easyui.min.js" type="text/javascript"></script>
    <script src="Common/Scripts/JQuery/EasyUI/locale/easyui-lang-zh_CN.js" type="text/javascript"></script>
    <script src="Common/Scripts/JQuery/EasyUI/commoneasyui.js" type="text/javascript"></script>
    <script src="Common/Scripts/JQuery/jquery.d.checkbox/js/jquery.d.checkbox.min.js"
        type="text/javascript"></script>
    <script src="Common/Scripts/JQuery/jquery.cookie.js" type="text/javascript"></script>
    <!--[if IE 6]><script type="text/javascript" src="Common/Scripts/DD_belatedPNG.js"></script><![endif]-->
</head>
    <body>
         <div id="north" class="default_head" style="display: block;">
    </div>
    <script type="text/javascript">
        $('#north').load('_data/_north.htm')
    </script>
    <div style="width: 100%">
        <table style="padding: 0; margin: 0; vertical-align: top; width: 100%">
            <tr>
                <td style="width: 201px; vertical-align: top;">
                    <div id="nav" class="easyui-accordion" fit="false" border="false" style="width: 199px;"
                        enabled="false">
                        <!--  导航内容 -->
                    </div>
                </td>
                <td  class="space">
                       <!--当前页面路径-->
                    <div class="location_layer clearfix">
                        <div id="pageTitle" class="pageTitle">
                            <span></span>
                        </div>
                        <div id="pagePath" class="pagePath">
                            
                        </div>
                    </div>
                    <div class="account_layer">
                        <div class="common_list_out_layer">
                            <div class="account_content">
                                <div class="inf_modular">
                                    <div class="titleDiv clearfix">
                                        <div class="title_L">
                                            账户基本信息
                                        </div>
                                        <div class="title_R">
                                            <a class="drop_down_icon pngFix"></a>
                                        </div>
                                    </div>
                                    <div class="content">
                                        <div class="content_main">
                                            <div class="content_L">
                                                <span>账户套餐类型:</span> 免费版 [<a href="#">升级套餐计划</a>]<br />
                                                <span class="inf_padding">到期时间:</span> 永久使用
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class=""></div>
                                <div class="inf_modular">
                                    <div class="titleDiv clearfix">
                                        <div class="title_L">
                                            站点监控项目数量统计
                                        </div>
                                        <div class="title_R">
                                            <a class="drop_down_icon pngFix"></a>
                                        </div>
                                    </div>
                                    <div class="content">
                                        <div class="content_main">
                                            <div class="content_L">
                                                <span>站点监控项目:</span> 1 / 5 [<a href="#">查看站点监控项目</a>]<br />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="inf_modular">
                                    <div class="titleDiv clearfix">
                                        <div class="title_L">
                                            短信配额
                                        </div>
                                        <div class="title_R">
                                            <a class="drop_down_icon pngFix"></a>
                                        </div>
                                    </div>
                                    <div class="content">
                                        <div class="content_main">
                                            <div class="content_L">
                                                <span>包月短信使用量:</span> 0 / 0 [<a href="#">查看告警通知统计</a>]<br />
                                                <span>&nbsp;&nbsp;额外剩余配额:</span> 0 条
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="inf_modular">
                                    <div class="titleDiv clearfix">
                                        <div class="title_L">
                                            分布式监测点
                                        </div>
                                        <div class="title_R">
                                            <a class="drop_down_icon pngFix"></a>
                                        </div>
                                    </div>
                                    <div class="content">
                                        <div class="content_main">
                                            <div class="content_L">
                                                <span>包月短信使用量:</span> 0 / 0 [<a href="#">查看告警通知统计</a>]<br />
                                                <span>&nbsp;&nbsp;额外剩余配额:</span> 0 条
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
        <script type="text/javascript">
            $(function () {
                $(".drop_down_icon").click(function () {
                    if ($(this).parent().parent().next().is(":hidden"))
                        $(this).removeClass("contraction_icon");
                    else
                        $(this).addClass("contraction_icon");
                    $(this).parent().parent().next().slideToggle();
                });
            });
        </script>
    </body>
</html>
